<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DiscordJS Rewrite Trello - Discord Bot</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    {{{body}}}

</body>
</html>
